@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Raleway:wght@300;400;500;600&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: rgb(252, 252, 253);
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
  margin: 0;
  justify-content: space-between;
  display: flex;
  box-shadow:
    0 1px 2px 0 rgb(0 0 0 / 3%),
    0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
}

.nav-logo {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.6rem;
  color: #8878C3;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding: 3px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

}

.nav-price-text {
  font-size: 0.6rem;
  padding: 2px;
  color: #42d689;
}

.price {
  display: inline-block;
  font-weight: 500;
  color: #3d2b7c;
  margin: auto;
}

.loading-price:after {
  position: absolute;
  margin-left: .2rem;
  content: ' ...';
  animation: loading steps(4) 2s infinite;
  clip: rect(auto, 0px, auto, auto);
}

@keyframes loading {
  to {
    clip: rect(auto, 20px, auto, auto);
  }
}
.wallet-nav {
  border: 3px solid #6c58b3;
  background: #8878C3;
  color: #ffffff;
  border-radius: 9px;
  cursor: pointer;
}

.main-body {
  min-height: 85vh;
    padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.swap-wrapper {
  z-index: -9999999999999999999999999999999;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 3px;
    font-weight: 600;
    font-size: 0.8rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landing-header {
  color: #6c58b3;
  font-size: 2rem;
  font-weight: 600;
  padding: 7rem;
  text-align: center;
}

.celo-text {
  color: #42d689;
}

.chart-body {
  display: flex;
  width: 100%;
  padding: 3rem;
}

.chart-header {
  text-align: center;
  color: #3d2b7c;
  font-weight: 400;
  font-size: 2rem;
}

.chart {
  background-color: aliceblue;
  width: 50vw;
  height: 100%;
  display: flex;
  padding: 2px;
  border: 1px solid #3d2b7c2b;

}

.chart-desc {
  font-family: 'Audiowide', cursive;
  padding: 2rem;
  color: #42d689;
}
.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}
.mobile-nav {
  display: none;
}

@media screen and (max-width: 850px) {
  .menu-icon {
    display: block;
    height: fit-content;
    }
    
    .mobile-nav {
      display: flex;
      justify-content: flex-end;
}

  .nav-link {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
  }
.list {
  flex-direction: column;
  height: auto;
}

.nav-items:nth-child(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.555);
  margin-top: 50px;
}

.nav-items {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.555);
  text-align: center;
  margin-right: 0px;
  padding: 20px 0;
}
}